services:

  # https://github.com/Tob1as/docker-php
  # based on: https://dhi.io/catalog/php
  # command: mkdir ./html && chown 65532:65532 ./html
  wsc-php:
    image: docker.io/tobi312/php:8.4-dhi-fpm-debian-wsc
    #image: docker.io/tobi312/php:8.4-dhi-fpm-alpine-wsc
    container_name: wsc-php
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html:rw
      - ./config/php_wsc.ini:/opt/php/etc/php/conf.d/60-wsc.ini:ro
      - ./config/php_fpm_settings.conf:/opt/php/etc/php-fpm.d/y-settings.conf:ro
      - ./config/php_fpm_status.conf:/opt/php/etc/php-fpm.d/y-status.conf:ro
    #depends_on:
    #  wsc-db:
    #    condition: service_started
    networks:
      - wsc-net

  # https://dhi.io/catalog/nginx
  wsc-nginx:
    image: dhi.io/nginx:1.29-debian13
    container_name: wsc-nginx
    restart: unless-stopped
    #ports:
    #  - 80:8080/tcp
    volumes:
      - ./html:/var/www/html:rw
      - ./config/nginx_default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      wsc-php:
        condition: service_started
    networks:
      - wsc-net
      - traefik
    labels:
      # Explicitly tell Traefik to expose this container
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      # Tell Traefik to use the http port 8080 to connect to container
      - "traefik.http.services.wsc.loadbalancer.server.port=8080"
      - "traefik.http.services.wsc.loadbalancer.server.scheme=http"  # when "https" then set "--serversTransport.insecureSkipVerify=true" for traefik
      # http
      - "traefik.http.routers.wsc-http.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.wsc-http.entrypoints=web"
      - "traefik.http.routers.wsc-http.service=wsc"
      # https
      - "traefik.http.routers.wsc-https.tls=true"
      - "traefik.http.routers.wsc-https.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.wsc-https.entrypoints=websecure"
      - "traefik.http.routers.wsc-https.service=wsc"
      # load middlewares for routes
      - "traefik.http.routers.wsc-http.middlewares=wsc-https"
      #- "traefik.http.routers.wsc-https.middlewares="
      # http to https redirect      
      - "traefik.http.middlewares.wsc-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.wsc-https.redirectscheme.permanent=true"
      #- "traefik.http.middlewares.wsc-https.redirectscheme.port=443"

  # https://dhi.io/catalog/mysql
  # command: mkdir ./data-db && chown 65532:65532 ./data-db
  wsc-db:
    image: dhi.io/mysql:8.4-debian13
    container_name: wsc-db
    restart: unless-stopped
    volumes:
      - ./data-db:/var/lib/mysql:rw
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      # only support in DHI (instead of own *.cnf file)
      MYSQL_OPTIONS: "--innodb-buffer-pool-size=512M"
      # not supported in DHI, but for commands to create database and user
      MYSQL_DATABASE: "${MYSQL_DATABASE:-wcf}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    #ports:
    #  - 127.0.0.1:3060:3306/tcp
    #  - 127.0.0.1:33060:33060/tcp
    networks:
      wsc-net:
        aliases:
        - wsc-database
        - wsc-mysql
        - wsc-mariadb
    # TODO: only do this commands after first start when using dhi mysql image (create database and user with password form environment vars):
    # docker exec -it wsc-mysql bash -c 'mysql -uroot -e "CREATE DATABASE ${MYSQL_DATABASE};"'
    # docker exec -it wsc-mysql bash -c 'mysql -uroot -e "CREATE USER \"${MYSQL_USER}\"@\"%\" IDENTIFIED BY \"${MYSQL_PASSWORD}\"; GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO \"${MYSQL_USER}\"@\"%\";"'

#  # https://dhi.io/catalog/mysqld-exporter
#  # (Docs: https://github.com/prometheus/mysqld_exporter)
#  wsc-db-exporter:
#    image: dhi.io/mysqld-exporter:0.18-debian13
#    container_name: wsc-db-exporter
#    restart: unless-stopped
#    command:
#      - --web.listen-address=:9104
#      - --web.telemetry-path=/metrics
#      - --mysqld.address=wsc-db:3306
#      - --mysqld.username=${MYSQL_EXPORTER_USER}
#    environment:
#      MYSQLD_EXPORTER_PASSWORD: ${MYSQL_EXPORTER_PASSWORD}
#    ports:
#      - 127.0.0.1:9104:9104/tcp
#    networks:
#      - wsc-net
#      #- monitoring-net
#    depends_on:
#      wsc-db:
#        condition: service_started
#    # TODO: only do this commands after first start (create exporter user and permission)
#    # MYSQL_EXPORTER_USER=$(grep '^MYSQL_EXPORTER_USER=' .env | cut -d= -f2-)
#    # MYSQL_EXPORTER_PASSWORD=$(grep '^MYSQL_EXPORTER_PASSWORD=' .env | cut -d= -f2-)
#    # docker exec -it wsc-db bash -c "mysql -uroot -e \"CREATE USER '${MYSQL_EXPORTER_USER}'@'%' IDENTIFIED BY '${MYSQL_EXPORTER_PASSWORD}'; GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO '${MYSQL_EXPORTER_USER}'@'%';\""
#    # Test: curl http://localhost:9104/metrics

networks:
  wsc-net:
    name: wsc-net
  #monitoring-net:
  #  name: monitoring-net
  #  external: true
  traefik:
    name: traefik
    external: true