services:

  # https://github.com/Tob1as/docker-php
  # based on: https://dhi.io/catalog/php
  # command: mkdir ./html && chown 65532:65532 ./html
  wsc-php:
    image: docker.io/tobi312/php:8.4-dhi-fpm-debian-wsc
    #image: docker.io/tobi312/php:8.4-dhi-fpm-alpine-wsc
    container_name: wsc-php
    restart: unless-stopped
    volumes:
      - ./html:/var/www/html:rw
      - ./config/php_wsc.ini:/opt/php/etc/php/conf.d/60-wsc.ini:ro
      - ./config/php_fpm_settings.conf:/opt/php/etc/php-fpm.d/y-settings.conf:ro
      - ./config/php_fpm_status.conf:/opt/php/etc/php-fpm.d/y-status.conf:ro
    #depends_on:
    #  wsc-db:
    #    condition: service_started   # service_started or service_healthy
    networks:
      - wsc-net

  # https://dhi.io/catalog/nginx
  wsc-nginx:
    image: dhi.io/nginx:1.29-debian13
    container_name: wsc-nginx
    restart: unless-stopped
    #ports:
    #  - 80:8080/tcp
    volumes:
      - ./html:/var/www/html:rw
      - ./config/nginx_default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      wsc-php:
        condition: service_started
    networks:
      - wsc-net
      - traefik-net
    ## Labels for Traefik, it works only with offical image and not with DHI, then use dynamic config files.
    #labels:
    #  # Explicitly tell Traefik to expose this container
    #  - "traefik.enable=true"
    #  - "traefik.docker.network=traefik-net"
    #  # Tell Traefik to use the http port 8080 to connect to container
    #  - "traefik.http.services.wsc.loadbalancer.server.port=8080"
    #  - "traefik.http.services.wsc.loadbalancer.server.scheme=http"  # when "https" then set "--serversTransport.insecureSkipVerify=true" for traefik
    #  # http
    #  - "traefik.http.routers.wsc-http.rule=Host(`${DOMAIN}`)"
    #  - "traefik.http.routers.wsc-http.entrypoints=web"
    #  - "traefik.http.routers.wsc-http.service=wsc"
    #  # https
    #  - "traefik.http.routers.wsc-https.tls=true"
    #  - "traefik.http.routers.wsc-https.rule=Host(`${DOMAIN}`)"
    #  - "traefik.http.routers.wsc-https.entrypoints=websecure"
    #  - "traefik.http.routers.wsc-https.service=wsc"
    #  # load middlewares for routes
    #  - "traefik.http.routers.wsc-http.middlewares=wsc-https@docker"
    #  #- "traefik.http.routers.wsc-https.middlewares="
    #  # http to https redirect      
    #  - "traefik.http.middlewares.wsc-https.redirectscheme.scheme=https"
    #  - "traefik.http.middlewares.wsc-https.redirectscheme.permanent=true"
    #  #- "traefik.http.middlewares.wsc-https.redirectscheme.port=443"

  # https://dhi.io/catalog/mysql
  # command: mkdir ./data-db && chown 65532:65532 ./data-db
  wsc-db:
    image: dhi.io/mysql:8.4-debian13
    container_name: wsc-db
    restart: unless-stopped
    volumes:
      - ./data-db:/var/lib/mysql:rw
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      # only support in DHI (instead of own *.cnf file)
      MYSQL_OPTIONS: "--innodb-buffer-pool-size=512M"
      # not supported in DHI, but for commands to create database and user
      MYSQL_DATABASE: "${MYSQL_DATABASE:-wcf}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    #ports:
    #  - 127.0.0.1:3060:3306/tcp
    #  - 127.0.0.1:33060:33060/tcp
    networks:
      wsc-net:
        aliases:
        - wsc-database
        - wsc-mysql
        - wsc-mariadb
    healthcheck:
      test:  mysqladmin ping -h 127.0.0.1 -P 3306 -u root || exit 1
      #test:  mysqladmin ping -h 127.0.0.1 -P 3306 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD || exit 1
      #start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3
      # check with: "docker inspect --format='{{json .State.Health}}' wsc-db | jq"
    # TODO: only do this commands after first start when using dhi mysql image (create database and user with password form environment vars):
    # docker exec -it wsc-db bash -c 'mysql -uroot -e "CREATE DATABASE ${MYSQL_DATABASE};"'
    # docker exec -it wsc-db bash -c 'mysql -uroot -e "CREATE USER \"${MYSQL_USER}\"@\"%\" IDENTIFIED BY \"${MYSQL_PASSWORD}\"; GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO \"${MYSQL_USER}\"@\"%\";"'

#  # https://dhi.io/catalog/mysqld-exporter
#  # (Docs: https://github.com/prometheus/mysqld_exporter)
#  wsc-db-exporter:
#    image: dhi.io/mysqld-exporter:0.18-debian13
#    container_name: wsc-db-exporter
#    restart: unless-stopped
#    command:
#      - --web.listen-address=:9104
#      - --web.telemetry-path=/metrics
#      - --mysqld.address=wsc-db:3306
#      - --mysqld.username=${MYSQL_EXPORTER_USER}
#      - --log.level=info
#    environment:
#      MYSQLD_EXPORTER_PASSWORD: ${MYSQL_EXPORTER_PASSWORD}
#    ports:
#      - 127.0.0.1:9104:9104/tcp
#    networks:
#      - wsc-net
#      #- monitoring-net
#    depends_on:
#      wsc-db:
#        condition: service_started   # service_started or service_healthy
#    # TODO: only do this commands after first start (create exporter user and permission)
#    # MYSQL_EXPORTER_USER=$(grep '^MYSQL_EXPORTER_USER=' .env | cut -d= -f2-)
#    # MYSQL_EXPORTER_PASSWORD=$(grep '^MYSQL_EXPORTER_PASSWORD=' .env | cut -d= -f2-)
#    # docker exec -it wsc-db bash -c "mysql -uroot -e \"CREATE USER '${MYSQL_EXPORTER_USER}'@'%' IDENTIFIED BY '${MYSQL_EXPORTER_PASSWORD}'; GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO '${MYSQL_EXPORTER_USER}'@'%';\""
#    # Test: curl http://localhost:9104/metrics

#  # https://dhi.io/catalog/nginx-exporter
#  # (Docs: https://github.com/nginx/nginx-prometheus-exporter)
#  wsc-nginx-exporter:
#    image: dhi.io/nginx-exporter:1.5-debian13
#    container_name: wsc-nginx-exporter
#    restart: unless-stopped
#    command:
#      - --web.listen-address=:9113
#      - --web.telemetry-path=/metrics
#      - --nginx.scrape-uri=http://wsc-nginx:8080/nginx_status
#      - --log.level=info
#    ports:
#      - 127.0.0.1:9113:9113/tcp
#    networks:
#      - wsc-net
#      #- monitoring-net
#    depends_on:
#      wsc-nginx:
#        condition: service_started
#    # Test: curl http://127.0.0.1:9113/metrics


  # https://dhi.io/catalog/traefik
  # (Docs: https://doc.traefik.io/traefik/ )
  # Note: Traefik DHI has no permission as non-root user for docker.socket, use dynamic config files!
  traefik:
    image: dhi.io/traefik:3-debian13
    container_name: traefik
    restart: unless-stopped
    environment:
      - TZ="${TIMEZONE:-Europe/Berlin}"
    ports:
      - "80:80/tcp"                # http
      - "443:443/tcp"              # https (tcp)
      - "443:443/udp"              # https (udp) / HTTP3
      - "127.0.0.1:8082:8082/tcp"  # Traefik Metrics
      #- "127.0.0.1:8080:8080/tcp" # Traefik Dashboard (if insecure enabled)
    # use "command" or static config file "traefik.yml" in volumes
    command:
      # Entrypoints and Ports
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.websecure.http3"
      #- "--entryPoints.websecure.http3.advertisedport=443"
      - "--entryPoints.traefik.address=:8080"
      - "--entryPoints.metrics.address=:8082"
      # Monitoring (Prometheus and Ping)
      - "--entryPoints.metrics.address=:8082"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--metrics.prometheus.buckets=0.1,0.3,1.2,5.0"
      - "--metrics.prometheus.addEntryPointsLabels=true"
      - "--metrics.prometheus.addrouterslabels=true"
      - "--metrics.prometheus.addServicesLabels=true"
      - "--ping=true"
      - "--ping.entryPoint=metrics"
      # API and Dashboard
      - "--api=true"
      - "--api.dashboard=true"
      - "--api.basePath=/traefik"
      #- "--api.insecure=true"
      # Log and AccessLog
      - "--log.level=ERROR"         # TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC
      - "--log.format=common"       # common, json
      - "--accesslog=true"
      - "--accesslog.format=common" # common, genericCLF , json
      - "--accesslog.addinternals"
      - "--accesslog.fields.names.StartUTC=drop"  # TimeZone (set to "drop", for use from env)
      # ServersTransport (internal/backend CA-Cert/SSL)
      - "--serversTransport.insecureSkipVerify=true"
      #- "--serversTransport.rootCAs=/config/certs/ca.crt"
      # Dynamic Configs
      - "--providers.file.directory=/config/dynamic"
      - "--providers.file.watch=true"
      # Optional: Plugins <https://plugins.traefik.io/plugins>
      # https://plugins.traefik.io/plugins/62947307108ecc83915d7783/rewrite-body
      #- "--experimental.plugins.rewrite.modulename=github.com/traefik/plugin-rewritebody"
      #- "--experimental.plugins.rewrite.version=v0.3.1"
      # https://plugins.traefik.io/plugins/62947354108ecc83915d778e/block-path
      #- "--experimental.plugins.block.modulename=github.com/traefik/plugin-blockpath"
      #- "--experimental.plugins.block.version=v0.2.1"
      # https://plugins.traefik.io/plugins/62947302108ecc83915d7781/geoblock
      #- "--experimental.plugins.geoblock.modulename=github.com/nscuro/traefik-plugin-geoblock"
      #- "--experimental.plugins.geoblock.version=v0.14.0"
    volumes:
      #- ./config/traefik/traefik.yml:/etc/traefik/traefik.yml:ro  # static config file or use "command" in docker-compose
      - ./config/traefik/dynamic/:/config/dynamic/:ro              # dynamic config files
      - ./ssl-certs/:/config/certs/:ro                             # ssl certs files
      # TODO for plugins: "mkdir -p ./data-traefik/plugins && chown 65532:65532 ./data-traefik/plugins"
      #- ./data-traefik/plugins/:/plugins-storage:rw                # plugin folder (will be downloaded by traefik)
    networks:
      - traefik-net
    healthcheck:
      test: ['CMD', 'traefik', 'healthcheck', '--ping', "--entryPoints.ping.address=:8082", "--ping.entryPoint=ping"]
      #start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3
    # check with: "docker inspect --format='{{json .State.Health}}' traefik | jq"
    # URL for Webbrowser: https://example.com/traefik

networks:
  wsc-net:
    name: wsc-net
  #monitoring-net:
  #  name: monitoring-net
  #  external: true
  traefik-net:
    name: traefik-net
    # external, script? https://github.com/Tob1as/docker-kubernetes-collection/blob/master/examples_docker-compose/docker_network_create.sh
    #external: true
    # not external, but with IPv4 and IPv6:
    #driver: bridge
    #attachable: true
    #enable_ipv6: true
    #labels:
    #  created.by: "docker-compose_WSC"
    #ipam:
    #  driver: default
    #  config:
    #    - subnet: 172.20.0.0/24        # IPv4 Subnet
    #    - subnet: fd00:dead:beef::/48  # IPv6 Subnet